*.save
.*
tmp
*.pyc
src/matlab/*.dat
src/matlab/test.m
src/python/setup.py
test/*.h5
test/*.pkl
test/*.idx
test/*.dat
test/*.bz2
test/flann_multithreaded_test
test/flann_simple_test
test/flann_uint_autotune.py
build
build_win
dist/
flann.kdev4
TODO
_skbuild
pyflann.egg-info
